build
.idea
cmake-build-debug
duckdb_unittest_tempdir/
.DS_Store
testext
test/python/__pycache__/
.Rhistory
target/

# Rust OPAQUE client test artifacts
opaque-client/test-wasm/*.wasm
opaque-client/test-wasm/*.js
